@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

*, body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: $background;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;

  &__logo {
    width: 2.5rem;
    height: auto;
  }
}