@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  padding: 2rem 0.5rem;

  &_header {
    text-align: center;
  }

  &_subheader {
    text-align: center;
    font-size: 1rem;
  }
}

.info {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_description {
    text-align: center;

    @include tablet {
      padding: 2rem 5rem;
    }
  }

  &_start {
    text-decoration: none;
    text-align: center;
    width: 45%;
    margin: 1rem 0 0 0;

    @include tablet {
      width: 15rem;
    }
    
  }

  &_link {
    background-color: $text-alt;
    color: whitesmoke;
    padding: 0.5rem 0.25rem;
    font-size: 1.25rem;
    width: 100%;

    @include tablet {
      width: 15rem;
    }
  }
}
