@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  padding: 2rem 0.5rem;

  &_header {
    text-align: center;
  }

  &_subheader {
    text-align: center;
    font-size: 1rem;
  }
}

.info {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_description {
    text-align: center;
    padding: 0 0.75rem 2rem 0.75rem;

    @include tablet {
      padding: 2rem 5rem;
    }
  }

    &_start:hover {
      background-color: $background;
      color: $text-alt;
      border: 0.05rem solid $text-alt;
      }

    &_start {
      background-color: $text-alt;
      text-decoration: none;
      color: $background;
      padding: 0.5rem;
      width: 12rem;
      text-align: center;
      border-radius: 10rem;
      border: 0.05rem solid $text-alt;
      }
}