@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

.header {
    padding: 1rem 0.5rem 0 0.5rem;
    
    &_quiz {
        font-size: 1rem;
        text-align: center;
    }

    &_info {
        text-align: center;
        padding: 0.5rem 1rem 0 1rem;

        @include tablet {
            padding: 0.5rem 20% 0 20%;
        }
    }
}

.form {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &_question {
        padding: 0.5rem 0;

        &_tablet {
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

    &_label {
        padding: 0.25rem 0;
        display: block;
        max-width: 15rem;

        @include tablet {
            max-width: none;
        }
    }

    &_location {
        margin: 0.25rem 0;
        height: 2rem;

        @include tablet {

        }

        &_question {
            @include tablet {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            }
        }
    }

    &_input {
        width: 15rem;
        border: 0.05rem solid $text-alt;
        border-radius: 0.5rem;
        color: $text-alt;

        @include tablet {
            width: 12rem;
            padding: 0 0 0 0.5rem;
            margin: 0 0 0 0.5rem;
        }
    }

    &_input:focus {
        outline: none;
        border: 0.05rem solid $background-alt;
    }

    &_no_error {
        display: none;
    }
    
    &_error {
        visibility: visible;
        color: $error;
        padding: 0.5rem 0 0 0;
    }

    &_plant {
        height: 2rem;
    }

    &_vibe {
        padding: 0 0 0 0.25rem;
        width: 7.75rem;
        height: 2rem;

        &_label {
            padding: 0 0.5rem 0 0;

            @include tablet {
                padding: 0 0.5rem 0 2rem;
            }
        }

        &_option {
            color: $text-alt;
        }
    }

    &_vibes_validation {
        display: flex;
        flex-direction: row;
    }

    &_comment {
        min-height: 4rem;

        @include tablet {
            min-width: 50rem;
            min-height: 5rem;
        }
    }

    &_warning {

        &_hide {
            display: none;
        }
    }

    &_button:hover {
        background-color: $background;
        color: $text-alt;
        border: 0.05rem solid $text-alt;
    }
    
    &_button {
        background-color: $text-alt;
        text-decoration: none;
        color: $background;
        padding: 0.5rem;
        width: 12rem;
        text-align: center;
        border-radius: 10rem;
        border: 0.05rem solid $text-alt;
        margin: 0.5rem;

        &_hide {
            display: none;
        }
    }

    &_email {
        height: 2rem;

        &_section {
            @include tablet {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
        }
    }

    &_border {
            border-top: 0.1rem solid $text-alt;
            padding: 0.5rem 0 0 0;
            margin: 0.25rem 0 0 0;
            width: 17rem;

            @include tablet {
                width: 90%;
            }
        }

}