@import "./colours";


@font-face {
    font-family: 'Poppins';
    src: url(../../../../public/fonts/Poppins-Bold.woff2) format('woff2');
    src: url(../../../../public/fonts/Poppins-Bold.ttf) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../../../public/fonts/Poppins-Medium.woff2) format('woff2');
    src: url(../../../../public/fonts/Poppins-Medium.ttf) format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../../../public/fonts/Poppins-Light.woff2) format('woff2');
    src: url(../../../../public/fonts/Poppins-Light.ttf) format('ttf');
    font-weight: 300;
}
